<div class="todos">
  <div class="container">
    <h1 class="title">Todo App</h1>

    <!-- add todo -->
    <form (ngSubmit)="addTodo()">
      <div class="add-todo d-flex">
        <input
          type="text"
          class="form-control w-75"
          name="text"
          [(ngModel)]="todoParam.todo.text"
        />
        <button type="submit" class="btn btn-primary" (keyup.enter)="addTodo()">
          Add
        </button>
      </div>
    </form>

    <!-- todo list -->
    <div
      [ngClass]="{ reminder: todo.reminder }"
      class="todo"
      *ngFor="let todo of todos.reverse()"
    >
      <h4>{{ todo.text }}</h4>
      <div>
        <button
          class="btn btn-primary btn-sm me-3"
          (click)="editTodo(todo)"
          data-bs-toggle="modal"
          data-bs-target="#TodoModal"
        >
          <i class="fa-solid fa-pen"></i>
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteTodo(todo)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>

    <!-- clear all todo -->
    <div
      class="pending-todos d-flex align-items-center justify-content-between w-75 my-5"
      *ngIf="todos.length > 0"
    >
      <h3>You have {{ todos.length }} pending todos</h3>
      <button class="btn btn-primary" (click)="clearTodos()">clear all</button>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="TodoModal"
  tabindex="-1"
  aria-labelledby="TodoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Todo</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="string"
          class="form-control"
          [(ngModel)]="todoParam.todo.text"
        />
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="exampleCheck1"
            [checked]="todoParam.todo.reminder"
            (click)="onSetReminder(todoParam.todo)"
          />
          <label class="form-check-label" for="exampleCheck1"
            >set as reminder</label
          >
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="saveTodo(todoParam.todo)"
          data-bs-dismiss="modal"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
